In [23]:
import pyspark

In [24]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
sc=SparkContext.getOrCreate()
spark=SparkSession(sc)

In [25]:
df=spark.read.json("donation_np.json")
df.show()

+--------------------+--------+--------------------+--------------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+
|             Address|  Amount|   Contribution Mode|Financial Year|                Name|PAN Given| Party|  Type|_corrupt_record|field10|field11|field12|field13|field14|field9|
+--------------------+--------+--------------------+--------------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+
|                null|    null|                null|          null|                null|     null|  null|  null|              [|   null|   null|   null|   null|   null|  null|
|16-B, Ferozeshah ...| 3000000|                CASH|       2010-11|          Aziz Pasha|        Y|   CPI|Others|           null|       |       |       |       |       |      |
|No.1, First Floor...|10000000|000037, HDFC Bank...|       2014-15|    V K Ramachandran|        Y|CPI(M)|Others|           null|       |       |       |       |       |      |
|3, Motilal Nehru ...|  108000|Cheque, State Ban...|       2014-15|  Dr. Manmohan Singh|        N|   INC|Others|           null|       |       |       |       |       |      |
|9,Firozshah Road ...|   54000|Through Bank Tran...|       2011-12| Dr. Manda Jagnathan|        N|   INC|Others|           null|       |       |       |       |       |      |
|17,Dr.B.R.Mehta L...|   54000|Through Bank Tran...|       2011-12|    Prof. K.V.Thomas|        N|   INC|Others|           null|       |       |       |       |       |      |
|31 Shamla Hills B...|  100000|          146865 SBI|       2011-12|     Sweta Chyouksey|        Y|   BJP|Others|           null|       |       |       |       |       |      |
|45 Bunglows Bhopa...|  100000|          994966 SBI|       2011-12|   Uma Shankar Gupta|        N|   BJP|Others|           null|       |       |       |       |       |      |
|                  --|   25000|14021,  Union Ban...|       2013-14|Parshwanath Bhakt...|        N|   BJP|Others|           null|       |       |       |       |       |      |
|9 Santoshi Ayodhy...|  100000|          168278 SBI|       2011-12|Anand Constructio...|        Y|   BJP|Others|           null|       |       |       |       |       |      |
|197, North Avenue...|   54000|       Bank Transfer|       2013-14|       Kamal Kashore|        N|   INC|Others|           null|       |       |       |       |       |      |
|              Mumbai|  100000|955592 Bank Of In...|       2004-05|          R.V Pandit|        N|   BJP|Others|           null|       |       |       |       |       |      |
|                  --|  100000|              430969|       2012-13|      A & T Infracon|        N|   BJP|Others|           null|       |       |       |       |       |      |
|G/3 Phonix Buildi...|  300000|Cheque No.884045 ...|       2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|       2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|       2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |
|                  --|  125000|952450, Saraswat ...|       2012-13|A B Rolling Mills...|        N|   BJP|Others|           null|       |       |       |       |       |      |
|82, Narbada Road ...|  100000|72437 Allahabad Bank|       2011-12|           A C Dixit|        N|   BJP|Others|           null|       |       |       |       |       |      |
|S.F.S. Tirupati A...|  100000|174993, Union Ban...|       2014-15|        A D Builders|        Y|   BJP|Others|           null|       |       |       |       |       |      |
|                  --|   21000|            234, BOI|       2012-13|               A Fox|        N|   BJP|Others|           null|       |       |       |       |       |      |
+--------------------+--------+--------------------+--------------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+
only showing top 20 rows

In [26]:
df1=df.withColumnRenamed("contribution mode","mode_of_payment").withColumnRenamed("Financial Year","fin_year ").withColumnRenamed("PAN Given ","pan_given")

In [27]:
df1.show()

+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+
|             Address|  Amount|     mode_of_payment|fin_year |                Name|PAN Given| Party|  Type|_corrupt_record|field10|field11|field12|field13|field14|field9|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+
|                null|    null|                null|     null|                null|     null|  null|  null|              [|   null|   null|   null|   null|   null|  null|
|16-B, Ferozeshah ...| 3000000|                CASH|  2010-11|          Aziz Pasha|        Y|   CPI|Others|           null|       |       |       |       |       |      |
|No.1, First Floor...|10000000|000037, HDFC Bank...|  2014-15|    V K Ramachandran|        Y|CPI(M)|Others|           null|       |       |       |       |       |      |
|3, Motilal Nehru ...|  108000|Cheque, State Ban...|  2014-15|  Dr. Manmohan Singh|        N|   INC|Others|           null|       |       |       |       |       |      |
|9,Firozshah Road ...|   54000|Through Bank Tran...|  2011-12| Dr. Manda Jagnathan|        N|   INC|Others|           null|       |       |       |       |       |      |
|17,Dr.B.R.Mehta L...|   54000|Through Bank Tran...|  2011-12|    Prof. K.V.Thomas|        N|   INC|Others|           null|       |       |       |       |       |      |
|31 Shamla Hills B...|  100000|          146865 SBI|  2011-12|     Sweta Chyouksey|        Y|   BJP|Others|           null|       |       |       |       |       |      |
|45 Bunglows Bhopa...|  100000|          994966 SBI|  2011-12|   Uma Shankar Gupta|        N|   BJP|Others|           null|       |       |       |       |       |      |
|                  --|   25000|14021,  Union Ban...|  2013-14|Parshwanath Bhakt...|        N|   BJP|Others|           null|       |       |       |       |       |      |
|9 Santoshi Ayodhy...|  100000|          168278 SBI|  2011-12|Anand Constructio...|        Y|   BJP|Others|           null|       |       |       |       |       |      |
|197, North Avenue...|   54000|       Bank Transfer|  2013-14|       Kamal Kashore|        N|   INC|Others|           null|       |       |       |       |       |      |
|              Mumbai|  100000|955592 Bank Of In...|  2004-05|          R.V Pandit|        N|   BJP|Others|           null|       |       |       |       |       |      |
|                  --|  100000|              430969|  2012-13|      A & T Infracon|        N|   BJP|Others|           null|       |       |       |       |       |      |
|G/3 Phonix Buildi...|  300000|Cheque No.884045 ...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |
|                  --|  125000|952450, Saraswat ...|  2012-13|A B Rolling Mills...|        N|   BJP|Others|           null|       |       |       |       |       |      |
|82, Narbada Road ...|  100000|72437 Allahabad Bank|  2011-12|           A C Dixit|        N|   BJP|Others|           null|       |       |       |       |       |      |
|S.F.S. Tirupati A...|  100000|174993, Union Ban...|  2014-15|        A D Builders|        Y|   BJP|Others|           null|       |       |       |       |       |      |
|                  --|   21000|            234, BOI|  2012-13|               A Fox|        N|   BJP|Others|           null|       |       |       |       |       |      |
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+
only showing top 20 rows

In [28]:
import hashlib

def encrypt_val(address):

    sha_value=hashlib.sha256(address.encode()).hexdigest()

    return sha_value

In [29]:
from pyspark.sql.functions import *

from pyspark.sql.types import *



spark_udf = udf(encrypt_val, StringType())

df2=df1.withColumn('encrypted_value',md5(col("address")))

In [30]:
df2.show()

+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+
|             Address|  Amount|     mode_of_payment|fin_year |                Name|PAN Given| Party|  Type|_corrupt_record|field10|field11|field12|field13|field14|field9|     encrypted_value|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+
|                null|    null|                null|     null|                null|     null|  null|  null|              [|   null|   null|   null|   null|   null|  null|                null|
|16-B, Ferozeshah ...| 3000000|                CASH|  2010-11|          Aziz Pasha|        Y|   CPI|Others|           null|       |       |       |       |       |      |44bca5383d6dae229...|
|No.1, First Floor...|10000000|000037, HDFC Bank...|  2014-15|    V K Ramachandran|        Y|CPI(M)|Others|           null|       |       |       |       |       |      |3d5fc135c2defdd47...|
|3, Motilal Nehru ...|  108000|Cheque, State Ban...|  2014-15|  Dr. Manmohan Singh|        N|   INC|Others|           null|       |       |       |       |       |      |425cb8edfacd38d97...|
|9,Firozshah Road ...|   54000|Through Bank Tran...|  2011-12| Dr. Manda Jagnathan|        N|   INC|Others|           null|       |       |       |       |       |      |39532b270ae265a0e...|
|17,Dr.B.R.Mehta L...|   54000|Through Bank Tran...|  2011-12|    Prof. K.V.Thomas|        N|   INC|Others|           null|       |       |       |       |       |      |e5eaf382bb92f67dd...|
|31 Shamla Hills B...|  100000|          146865 SBI|  2011-12|     Sweta Chyouksey|        Y|   BJP|Others|           null|       |       |       |       |       |      |aebd8d41127096039...|
|45 Bunglows Bhopa...|  100000|          994966 SBI|  2011-12|   Uma Shankar Gupta|        N|   BJP|Others|           null|       |       |       |       |       |      |a6bdeec2ba637e946...|
|                  --|   25000|14021,  Union Ban...|  2013-14|Parshwanath Bhakt...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|
|9 Santoshi Ayodhy...|  100000|          168278 SBI|  2011-12|Anand Constructio...|        Y|   BJP|Others|           null|       |       |       |       |       |      |5ccb472bc1ee506b7...|
|197, North Avenue...|   54000|       Bank Transfer|  2013-14|       Kamal Kashore|        N|   INC|Others|           null|       |       |       |       |       |      |58c899d47e71fefc0...|
|              Mumbai|  100000|955592 Bank Of In...|  2004-05|          R.V Pandit|        N|   BJP|Others|           null|       |       |       |       |       |      |8ebaad59980c95ade...|
|                  --|  100000|              430969|  2012-13|      A & T Infracon|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|
|G/3 Phonix Buildi...|  300000|Cheque No.884045 ...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |5f66b784ed12e98da...|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|
|                  --|  125000|952450, Saraswat ...|  2012-13|A B Rolling Mills...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|
|82, Narbada Road ...|  100000|72437 Allahabad Bank|  2011-12|           A C Dixit|        N|   BJP|Others|           null|       |       |       |       |       |      |c21350ba3c204bdb4...|
|S.F.S. Tirupati A...|  100000|174993, Union Ban...|  2014-15|        A D Builders|        Y|   BJP|Others|           null|       |       |       |       |       |      |8e87f885f49d595c2...|
|                  --|   21000|            234, BOI|  2012-13|               A Fox|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+
only showing top 20 rows

In [31]:
df2.show()

+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+
|             Address|  Amount|     mode_of_payment|fin_year |                Name|PAN Given| Party|  Type|_corrupt_record|field10|field11|field12|field13|field14|field9|     encrypted_value|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+
|                null|    null|                null|     null|                null|     null|  null|  null|              [|   null|   null|   null|   null|   null|  null|                null|
|16-B, Ferozeshah ...| 3000000|                CASH|  2010-11|          Aziz Pasha|        Y|   CPI|Others|           null|       |       |       |       |       |      |44bca5383d6dae229...|
|No.1, First Floor...|10000000|000037, HDFC Bank...|  2014-15|    V K Ramachandran|        Y|CPI(M)|Others|           null|       |       |       |       |       |      |3d5fc135c2defdd47...|
|3, Motilal Nehru ...|  108000|Cheque, State Ban...|  2014-15|  Dr. Manmohan Singh|        N|   INC|Others|           null|       |       |       |       |       |      |425cb8edfacd38d97...|
|9,Firozshah Road ...|   54000|Through Bank Tran...|  2011-12| Dr. Manda Jagnathan|        N|   INC|Others|           null|       |       |       |       |       |      |39532b270ae265a0e...|
|17,Dr.B.R.Mehta L...|   54000|Through Bank Tran...|  2011-12|    Prof. K.V.Thomas|        N|   INC|Others|           null|       |       |       |       |       |      |e5eaf382bb92f67dd...|
|31 Shamla Hills B...|  100000|          146865 SBI|  2011-12|     Sweta Chyouksey|        Y|   BJP|Others|           null|       |       |       |       |       |      |aebd8d41127096039...|
|45 Bunglows Bhopa...|  100000|          994966 SBI|  2011-12|   Uma Shankar Gupta|        N|   BJP|Others|           null|       |       |       |       |       |      |a6bdeec2ba637e946...|
|                  --|   25000|14021,  Union Ban...|  2013-14|Parshwanath Bhakt...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|
|9 Santoshi Ayodhy...|  100000|          168278 SBI|  2011-12|Anand Constructio...|        Y|   BJP|Others|           null|       |       |       |       |       |      |5ccb472bc1ee506b7...|
|197, North Avenue...|   54000|       Bank Transfer|  2013-14|       Kamal Kashore|        N|   INC|Others|           null|       |       |       |       |       |      |58c899d47e71fefc0...|
|              Mumbai|  100000|955592 Bank Of In...|  2004-05|          R.V Pandit|        N|   BJP|Others|           null|       |       |       |       |       |      |8ebaad59980c95ade...|
|                  --|  100000|              430969|  2012-13|      A & T Infracon|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|
|G/3 Phonix Buildi...|  300000|Cheque No.884045 ...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |5f66b784ed12e98da...|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|
|                  --|  125000|952450, Saraswat ...|  2012-13|A B Rolling Mills...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|
|82, Narbada Road ...|  100000|72437 Allahabad Bank|  2011-12|           A C Dixit|        N|   BJP|Others|           null|       |       |       |       |       |      |c21350ba3c204bdb4...|
|S.F.S. Tirupati A...|  100000|174993, Union Ban...|  2014-15|        A D Builders|        Y|   BJP|Others|           null|       |       |       |       |       |      |8e87f885f49d595c2...|
|                  --|   21000|            234, BOI|  2012-13|               A Fox|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+
only showing top 20 rows

In [32]:
from pyspark.sql.functions import when

from pyspark.sql.functions import lower, col

df3 = df2.withColumn("payment_seperated", when(lower(df2["mode_of_payment"]).contains('cash'), 'Cash').when(lower(df2["mode_of_payment"]).contains('cheque') | lower(df2["mode_of_payment"]).contains('ch.') | lower(df2["mode_of_payment"]).contains('ch no'), 'Cheque').when(lower(df2["mode_of_payment"]).contains('bank'), 'Bank').otherwise('Others'))

In [33]:
df3.show()

+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+
|             Address|  Amount|     mode_of_payment|fin_year |                Name|PAN Given| Party|  Type|_corrupt_record|field10|field11|field12|field13|field14|field9|     encrypted_value|payment_seperated|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+
|                null|    null|                null|     null|                null|     null|  null|  null|              [|   null|   null|   null|   null|   null|  null|                null|           Others|
|16-B, Ferozeshah ...| 3000000|                CASH|  2010-11|          Aziz Pasha|        Y|   CPI|Others|           null|       |       |       |       |       |      |44bca5383d6dae229...|             Cash|
|No.1, First Floor...|10000000|000037, HDFC Bank...|  2014-15|    V K Ramachandran|        Y|CPI(M)|Others|           null|       |       |       |       |       |      |3d5fc135c2defdd47...|             Bank|
|3, Motilal Nehru ...|  108000|Cheque, State Ban...|  2014-15|  Dr. Manmohan Singh|        N|   INC|Others|           null|       |       |       |       |       |      |425cb8edfacd38d97...|           Cheque|
|9,Firozshah Road ...|   54000|Through Bank Tran...|  2011-12| Dr. Manda Jagnathan|        N|   INC|Others|           null|       |       |       |       |       |      |39532b270ae265a0e...|             Bank|
|17,Dr.B.R.Mehta L...|   54000|Through Bank Tran...|  2011-12|    Prof. K.V.Thomas|        N|   INC|Others|           null|       |       |       |       |       |      |e5eaf382bb92f67dd...|             Bank|
|31 Shamla Hills B...|  100000|          146865 SBI|  2011-12|     Sweta Chyouksey|        Y|   BJP|Others|           null|       |       |       |       |       |      |aebd8d41127096039...|           Others|
|45 Bunglows Bhopa...|  100000|          994966 SBI|  2011-12|   Uma Shankar Gupta|        N|   BJP|Others|           null|       |       |       |       |       |      |a6bdeec2ba637e946...|           Others|
|                  --|   25000|14021,  Union Ban...|  2013-14|Parshwanath Bhakt...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|             Bank|
|9 Santoshi Ayodhy...|  100000|          168278 SBI|  2011-12|Anand Constructio...|        Y|   BJP|Others|           null|       |       |       |       |       |      |5ccb472bc1ee506b7...|           Others|
|197, North Avenue...|   54000|       Bank Transfer|  2013-14|       Kamal Kashore|        N|   INC|Others|           null|       |       |       |       |       |      |58c899d47e71fefc0...|             Bank|
|              Mumbai|  100000|955592 Bank Of In...|  2004-05|          R.V Pandit|        N|   BJP|Others|           null|       |       |       |       |       |      |8ebaad59980c95ade...|             Bank|
|                  --|  100000|              430969|  2012-13|      A & T Infracon|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|           Others|
|G/3 Phonix Buildi...|  300000|Cheque No.884045 ...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |5f66b784ed12e98da...|           Cheque|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|           Cheque|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|           Cheque|
|                  --|  125000|952450, Saraswat ...|  2012-13|A B Rolling Mills...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|             Bank|
|82, Narbada Road ...|  100000|72437 Allahabad Bank|  2011-12|           A C Dixit|        N|   BJP|Others|           null|       |       |       |       |       |      |c21350ba3c204bdb4...|             Bank|
|S.F.S. Tirupati A...|  100000|174993, Union Ban...|  2014-15|        A D Builders|        Y|   BJP|Others|           null|       |       |       |       |       |      |8e87f885f49d595c2...|             Bank|
|                  --|   21000|            234, BOI|  2012-13|               A Fox|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|           Others|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+
only showing top 20 rows

In [34]:
# from pyspark.sql.types import IntegerType
# df4=df3.withColumn("Amount",col("Amount").cast("int"))
# tmp=df4.groupBy("Party").sum("Amount")
# cnt=df4.groupBy("Party").count()
# avgv=df4.groupBy("Party").avg("Amount")
# mx=df4.groupBy("Party").max("Amount")

from pyspark.sql.types import IntegerType

df3 = df3.withColumn ("Amount", col ("Amount").cast(IntegerType())) 
sm =df3.groupBy('Party').sum("Amount")

cnt = df3.groupBy('Party').count() 
avgv= df3.groupBy('Party').avg("Amount")

mx = df3.groupBy('Party').max("Amount")

In [35]:
mx.show()

+------+-----------+
| Party|max(Amount)|
+------+-----------+
|   INC|  500000000|
|   BJP|  500000000|
|  null|       null|
|   NCP|   50000000|
|   CPI|    3000000|
|CPI(M)|   10000000|
+------+-----------+

In [36]:
df3=df3.withColumn("INC_SUM_LTD",\
when((df3.Party=="INC"),sm.collect()[0][1]).otherwise(0))
df3=df3.withColumn("BJP_SUM_LTD",\
when((df3.Party=="BJP"),sm.collect()[1][1]).otherwise(0))
df3=df3.withColumn("NCP_SUM_LTD",\
when((df3.Party=="NCP"),sm.collect()[3][1]).otherwise(0))
df3=df3.withColumn("CPI_SUM_LTD",\
when((df3.Party=="CPI"),sm.collect()[4][1]).otherwise(0))
df3=df3.withColumn("CPI(M)_SUM_LTD",\
when((df3.Party=="CPI(M)"),sm.collect()[5][1]).otherwise(0))

In [37]:
df3.show()

+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+-----------+-----------+-----------+-----------+--------------+
|             Address|  Amount|     mode_of_payment|fin_year |                Name|PAN Given| Party|  Type|_corrupt_record|field10|field11|field12|field13|field14|field9|     encrypted_value|payment_seperated|INC_SUM_LTD|BJP_SUM_LTD|NCP_SUM_LTD|CPI_SUM_LTD|CPI(M)_SUM_LTD|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+-----------+-----------+-----------+-----------+--------------+
|                null|    null|                null|     null|                null|     null|  null|  null|              [|   null|   null|   null|   null|   null|  null|                null|           Others|          0|          0|          0|          0|             0|
|16-B, Ferozeshah ...| 3000000|                CASH|  2010-11|          Aziz Pasha|        Y|   CPI|Others|           null|       |       |       |       |       |      |44bca5383d6dae229...|             Cash|          0|          0|          0|   68123698|             0|
|No.1, First Floor...|10000000|000037, HDFC Bank...|  2014-15|    V K Ramachandran|        Y|CPI(M)|Others|           null|       |       |       |       |       |      |3d5fc135c2defdd47...|             Bank|          0|          0|          0|          0|     150622128|
|3, Motilal Nehru ...|  108000|Cheque, State Ban...|  2014-15|  Dr. Manmohan Singh|        N|   INC|Others|           null|       |       |       |       |       |      |425cb8edfacd38d97...|           Cheque| 4031487349|          0|          0|          0|             0|
|9,Firozshah Road ...|   54000|Through Bank Tran...|  2011-12| Dr. Manda Jagnathan|        N|   INC|Others|           null|       |       |       |       |       |      |39532b270ae265a0e...|             Bank| 4031487349|          0|          0|          0|             0|
|17,Dr.B.R.Mehta L...|   54000|Through Bank Tran...|  2011-12|    Prof. K.V.Thomas|        N|   INC|Others|           null|       |       |       |       |       |      |e5eaf382bb92f67dd...|             Bank| 4031487349|          0|          0|          0|             0|
|31 Shamla Hills B...|  100000|          146865 SBI|  2011-12|     Sweta Chyouksey|        Y|   BJP|Others|           null|       |       |       |       |       |      |aebd8d41127096039...|           Others|          0| 9295525996|          0|          0|             0|
|45 Bunglows Bhopa...|  100000|          994966 SBI|  2011-12|   Uma Shankar Gupta|        N|   BJP|Others|           null|       |       |       |       |       |      |a6bdeec2ba637e946...|           Others|          0| 9295525996|          0|          0|             0|
|                  --|   25000|14021,  Union Ban...|  2013-14|Parshwanath Bhakt...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|             Bank|          0| 9295525996|          0|          0|             0|
|9 Santoshi Ayodhy...|  100000|          168278 SBI|  2011-12|Anand Constructio...|        Y|   BJP|Others|           null|       |       |       |       |       |      |5ccb472bc1ee506b7...|           Others|          0| 9295525996|          0|          0|             0|
|197, North Avenue...|   54000|       Bank Transfer|  2013-14|       Kamal Kashore|        N|   INC|Others|           null|       |       |       |       |       |      |58c899d47e71fefc0...|             Bank| 4031487349|          0|          0|          0|             0|
|              Mumbai|  100000|955592 Bank Of In...|  2004-05|          R.V Pandit|        N|   BJP|Others|           null|       |       |       |       |       |      |8ebaad59980c95ade...|             Bank|          0| 9295525996|          0|          0|             0|
|                  --|  100000|              430969|  2012-13|      A & T Infracon|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|           Others|          0| 9295525996|          0|          0|             0|
|G/3 Phonix Buildi...|  300000|Cheque No.884045 ...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |5f66b784ed12e98da...|           Cheque|          0| 9295525996|          0|          0|             0|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|           Cheque|          0| 9295525996|          0|          0|             0|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|           Cheque|          0| 9295525996|          0|          0|             0|
|                  --|  125000|952450, Saraswat ...|  2012-13|A B Rolling Mills...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|             Bank|          0| 9295525996|          0|          0|             0|
|82, Narbada Road ...|  100000|72437 Allahabad Bank|  2011-12|           A C Dixit|        N|   BJP|Others|           null|       |       |       |       |       |      |c21350ba3c204bdb4...|             Bank|          0| 9295525996|          0|          0|             0|
|S.F.S. Tirupati A...|  100000|174993, Union Ban...|  2014-15|        A D Builders|        Y|   BJP|Others|           null|       |       |       |       |       |      |8e87f885f49d595c2...|             Bank|          0| 9295525996|          0|          0|             0|
|                  --|   21000|            234, BOI|  2012-13|               A Fox|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|           Others|          0| 9295525996|          0|          0|             0|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+-----------+-----------+-----------+-----------+--------------+
only showing top 20 rows

In [38]:
df3=df3.withColumn("INC_COUNT_LTD",\
when((df3.Party=="INC"),cnt.collect()[0][1]).otherwise(0))
df3=df3.withColumn("BJP_COUNT_LTD",\
when((df3.Party=="BJP"),cnt.collect()[1][1]).otherwise(0))
df3=df3.withColumn("NCP_COUNT_LTD",\
when((df3.Party=="NCP"),cnt.collect()[3][1]).otherwise(0))
df3=df3.withColumn("CPI_COUNT_LTD",\
when((df3.Party=="CPI"),cnt.collect()[4][1]).otherwise(0))
df3=df3.withColumn("CPI(M)_COUNT_LTD",\
when((df3.Party=="CPI(M)"),cnt.collect()[5][1]).otherwise(0))

In [39]:
df3.show()

+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+-----------+-----------+-----------+-----------+--------------+-------------+-------------+-------------+-------------+----------------+
|             Address|  Amount|     mode_of_payment|fin_year |                Name|PAN Given| Party|  Type|_corrupt_record|field10|field11|field12|field13|field14|field9|     encrypted_value|payment_seperated|INC_SUM_LTD|BJP_SUM_LTD|NCP_SUM_LTD|CPI_SUM_LTD|CPI(M)_SUM_LTD|INC_COUNT_LTD|BJP_COUNT_LTD|NCP_COUNT_LTD|CPI_COUNT_LTD|CPI(M)_COUNT_LTD|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+-----------+-----------+-----------+-----------+--------------+-------------+-------------+-------------+-------------+----------------+
|                null|    null|                null|     null|                null|     null|  null|  null|              [|   null|   null|   null|   null|   null|  null|                null|           Others|          0|          0|          0|          0|             0|            0|            0|            0|            0|               0|
|16-B, Ferozeshah ...| 3000000|                CASH|  2010-11|          Aziz Pasha|        Y|   CPI|Others|           null|       |       |       |       |       |      |44bca5383d6dae229...|             Cash|          0|          0|          0|   68123698|             0|            0|            0|            0|          384|               0|
|No.1, First Floor...|10000000|000037, HDFC Bank...|  2014-15|    V K Ramachandran|        Y|CPI(M)|Others|           null|       |       |       |       |       |      |3d5fc135c2defdd47...|             Bank|          0|          0|          0|          0|     150622128|            0|            0|            0|            0|             515|
|3, Motilal Nehru ...|  108000|Cheque, State Ban...|  2014-15|  Dr. Manmohan Singh|        N|   INC|Others|           null|       |       |       |       |       |      |425cb8edfacd38d97...|           Cheque| 4031487349|          0|          0|          0|             0|         3785|            0|            0|            0|               0|
|9,Firozshah Road ...|   54000|Through Bank Tran...|  2011-12| Dr. Manda Jagnathan|        N|   INC|Others|           null|       |       |       |       |       |      |39532b270ae265a0e...|             Bank| 4031487349|          0|          0|          0|             0|         3785|            0|            0|            0|               0|
|17,Dr.B.R.Mehta L...|   54000|Through Bank Tran...|  2011-12|    Prof. K.V.Thomas|        N|   INC|Others|           null|       |       |       |       |       |      |e5eaf382bb92f67dd...|             Bank| 4031487349|          0|          0|          0|             0|         3785|            0|            0|            0|               0|
|31 Shamla Hills B...|  100000|          146865 SBI|  2011-12|     Sweta Chyouksey|        Y|   BJP|Others|           null|       |       |       |       |       |      |aebd8d41127096039...|           Others|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|45 Bunglows Bhopa...|  100000|          994966 SBI|  2011-12|   Uma Shankar Gupta|        N|   BJP|Others|           null|       |       |       |       |       |      |a6bdeec2ba637e946...|           Others|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|                  --|   25000|14021,  Union Ban...|  2013-14|Parshwanath Bhakt...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|             Bank|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|9 Santoshi Ayodhy...|  100000|          168278 SBI|  2011-12|Anand Constructio...|        Y|   BJP|Others|           null|       |       |       |       |       |      |5ccb472bc1ee506b7...|           Others|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|197, North Avenue...|   54000|       Bank Transfer|  2013-14|       Kamal Kashore|        N|   INC|Others|           null|       |       |       |       |       |      |58c899d47e71fefc0...|             Bank| 4031487349|          0|          0|          0|             0|         3785|            0|            0|            0|               0|
|              Mumbai|  100000|955592 Bank Of In...|  2004-05|          R.V Pandit|        N|   BJP|Others|           null|       |       |       |       |       |      |8ebaad59980c95ade...|             Bank|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|                  --|  100000|              430969|  2012-13|      A & T Infracon|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|           Others|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|G/3 Phonix Buildi...|  300000|Cheque No.884045 ...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |5f66b784ed12e98da...|           Cheque|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|           Cheque|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|           Cheque|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|                  --|  125000|952450, Saraswat ...|  2012-13|A B Rolling Mills...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|             Bank|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|82, Narbada Road ...|  100000|72437 Allahabad Bank|  2011-12|           A C Dixit|        N|   BJP|Others|           null|       |       |       |       |       |      |c21350ba3c204bdb4...|             Bank|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|S.F.S. Tirupati A...|  100000|174993, Union Ban...|  2014-15|        A D Builders|        Y|   BJP|Others|           null|       |       |       |       |       |      |8e87f885f49d595c2...|             Bank|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
|                  --|   21000|            234, BOI|  2012-13|               A Fox|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|           Others|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+-----------+-----------+-----------+-----------+--------------+-------------+-------------+-------------+-------------+----------------+
only showing top 20 rows

In [40]:
df3=df3.withColumn("INC_AVG_LTD",\
when((df3.Party=="INC"),avgv.collect()[0][1]).otherwise(0))
df3=df3.withColumn("BJP_AVG_LTD",\
when((df3.Party=="BJP"),avgv.collect()[1][1]).otherwise(0))
df3=df3.withColumn("NCP_AVG_LTD",\
when((df3.Party=="NCP"),avgv.collect()[3][1]).otherwise(0))
df3=df3.withColumn("CPI_AVG_LTD",\
when((df3.Party=="CPI"),avgv.collect()[4][1]).otherwise(0))
df3=df3.withColumn("CPI(M)_AVG_LTD",\
when((df3.Party=="CPI(M)"),avgv.collect()[5][1]).otherwise(0))

In [41]:
df3=df3.withColumn("INC_MAX_LTD",\
when((df3.Party=="INC"),mx.collect()[0][1]).otherwise(0))
df3=df3.withColumn("BJP_MAX_LTD",\
when((df3.Party=="BJP"),mx.collect()[1][1]).otherwise(0))
df3=df3.withColumn("NCP_MAX_LTD",\
when((df3.Party=="NCP"),mx.collect()[3][1]).otherwise(0))
df3=df3.withColumn("CPI_MAX_LTD",\
when((df3.Party=="CPI"),mx.collect()[4][1]).otherwise(0))
df3=df3.withColumn("CPI(M)_MAX_LTD",\
when((df3.Party=="CPI(M)"),mx.collect()[5][1]).otherwise(0))

In [42]:

inc_top_donor=df3.select("Name").filter(df3.Amount==mx.collect()[0][1])
bjp_top_donor=df3.select("Name").filter(df3.Amount==mx.collect()[1][1])
ncp_top_donor=df3.select("Name").filter(df3.Amount==mx.collect()[3][1])
cpi_top_donor=df3.select("Name").filter(df3.Amount==mx.collect()[4][1])
cpim_top_donor=df3.select("Name").filter(df3.Amount==mx.collect()[5][1])

In [43]:


df3=df3.withColumn("INC_TOP_DONOR",\
when((df3.Party=="INC"),inc_top_donor.collect()[0][0]).otherwise('-'))
df3=df3.withColumn("BJP_TOP_DONOR",\
when((df3.Party=="BJP"),bjp_top_donor.collect()[0][0]).otherwise('-'))
df3=df3.withColumn("NCP_TOP_DONOR",\
when((df3.Party=="NCP"),ncp_top_donor.collect()[0][0]).otherwise('-'))
df3=df3.withColumn("CPI_TOP_DONOR",\
when((df3.Party=="CPI"),cpi_top_donor.collect()[0][0]).otherwise('-'))
df3=df3.withColumn("CPI(M)_TOP_DONOR",\
when((df3.Party=="CPI(M)"),cpim_top_donor.collect()[0][0]).otherwise('-'))

In [45]:
df3.show()

+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+-----------+-----------+-----------+-----------+--------------+-------------+-------------+-------------+-------------+----------------+------------------+------------------+-----------+------------------+-----------------+-----------+-----------+-----------+-----------+--------------+--------------------+--------------------+-------------+-------------+----------------+
|             Address|  Amount|     mode_of_payment|fin_year |                Name|PAN Given| Party|  Type|_corrupt_record|field10|field11|field12|field13|field14|field9|     encrypted_value|payment_seperated|INC_SUM_LTD|BJP_SUM_LTD|NCP_SUM_LTD|CPI_SUM_LTD|CPI(M)_SUM_LTD|INC_COUNT_LTD|BJP_COUNT_LTD|NCP_COUNT_LTD|CPI_COUNT_LTD|CPI(M)_COUNT_LTD|       INC_AVG_LTD|       BJP_AVG_LTD|NCP_AVG_LTD|       CPI_AVG_LTD|   CPI(M)_AVG_LTD|INC_MAX_LTD|BJP_MAX_LTD|NCP_MAX_LTD|CPI_MAX_LTD|CPI(M)_MAX_LTD|       INC_TOP_DONOR|       BJP_TOP_DONOR|NCP_TOP_DONOR|CPI_TOP_DONOR|CPI(M)_TOP_DONOR|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+-----------+-----------+-----------+-----------+--------------+-------------+-------------+-------------+-------------+----------------+------------------+------------------+-----------+------------------+-----------------+-----------+-----------+-----------+-----------+--------------+--------------------+--------------------+-------------+-------------+----------------+
|                null|    null|                null|     null|                null|     null|  null|  null|              [|   null|   null|   null|   null|   null|  null|                null|           Others|          0|          0|          0|          0|             0|            0|            0|            0|            0|               0|               0.0|               0.0|        0.0|               0.0|              0.0|          0|          0|          0|          0|             0|                   -|                   -|            -|            -|               -|
|16-B, Ferozeshah ...| 3000000|                CASH|  2010-11|          Aziz Pasha|        Y|   CPI|Others|           null|       |       |       |       |       |      |44bca5383d6dae229...|             Cash|          0|          0|          0|   68123698|             0|            0|            0|            0|          384|               0|               0.0|               0.0|        0.0|177405.46354166666|              0.0|          0|          0|          0|    3000000|             0|                   -|                   -|            -|   Aziz Pasha|               -|
|No.1, First Floor...|10000000|000037, HDFC Bank...|  2014-15|    V K Ramachandran|        Y|CPI(M)|Others|           null|       |       |       |       |       |      |3d5fc135c2defdd47...|             Bank|          0|          0|          0|          0|     150622128|            0|            0|            0|            0|             515|               0.0|               0.0|        0.0|               0.0|292470.1514563107|          0|          0|          0|          0|      10000000|                   -|                   -|            -|            -|V K Ramachandran|
|3, Motilal Nehru ...|  108000|Cheque, State Ban...|  2014-15|  Dr. Manmohan Singh|        N|   INC|Others|           null|       |       |       |       |       |      |425cb8edfacd38d97...|           Cheque| 4031487349|          0|          0|          0|             0|         3785|            0|            0|            0|               0|1065122.1529722589|               0.0|        0.0|               0.0|              0.0|  500000000|          0|          0|          0|             0|General Electoral...|                   -|            -|            -|               -|
|9,Firozshah Road ...|   54000|Through Bank Tran...|  2011-12| Dr. Manda Jagnathan|        N|   INC|Others|           null|       |       |       |       |       |      |39532b270ae265a0e...|             Bank| 4031487349|          0|          0|          0|             0|         3785|            0|            0|            0|               0|1065122.1529722589|               0.0|        0.0|               0.0|              0.0|  500000000|          0|          0|          0|             0|General Electoral...|                   -|            -|            -|               -|
|17,Dr.B.R.Mehta L...|   54000|Through Bank Tran...|  2011-12|    Prof. K.V.Thomas|        N|   INC|Others|           null|       |       |       |       |       |      |e5eaf382bb92f67dd...|             Bank| 4031487349|          0|          0|          0|             0|         3785|            0|            0|            0|               0|1065122.1529722589|               0.0|        0.0|               0.0|              0.0|  500000000|          0|          0|          0|             0|General Electoral...|                   -|            -|            -|               -|
|31 Shamla Hills B...|  100000|          146865 SBI|  2011-12|     Sweta Chyouksey|        Y|   BJP|Others|           null|       |       |       |       |       |      |aebd8d41127096039...|           Others|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|45 Bunglows Bhopa...|  100000|          994966 SBI|  2011-12|   Uma Shankar Gupta|        N|   BJP|Others|           null|       |       |       |       |       |      |a6bdeec2ba637e946...|           Others|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|                  --|   25000|14021,  Union Ban...|  2013-14|Parshwanath Bhakt...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|             Bank|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|9 Santoshi Ayodhy...|  100000|          168278 SBI|  2011-12|Anand Constructio...|        Y|   BJP|Others|           null|       |       |       |       |       |      |5ccb472bc1ee506b7...|           Others|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|197, North Avenue...|   54000|       Bank Transfer|  2013-14|       Kamal Kashore|        N|   INC|Others|           null|       |       |       |       |       |      |58c899d47e71fefc0...|             Bank| 4031487349|          0|          0|          0|             0|         3785|            0|            0|            0|               0|1065122.1529722589|               0.0|        0.0|               0.0|              0.0|  500000000|          0|          0|          0|             0|General Electoral...|                   -|            -|            -|               -|
|              Mumbai|  100000|955592 Bank Of In...|  2004-05|          R.V Pandit|        N|   BJP|Others|           null|       |       |       |       |       |      |8ebaad59980c95ade...|             Bank|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|                  --|  100000|              430969|  2012-13|      A & T Infracon|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|           Others|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|G/3 Phonix Buildi...|  300000|Cheque No.884045 ...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |5f66b784ed12e98da...|           Cheque|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|           Cheque|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|G/3 Phonix Buildi...|  200000|Cheque No-  88404...|  2008-09|A 2 Z online  Ser...|        N|   BJP|Others|           null|       |       |       |       |       |      |ef5d649a1b988ac24...|           Cheque|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|                  --|  125000|952450, Saraswat ...|  2012-13|A B Rolling Mills...|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|             Bank|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|82, Narbada Road ...|  100000|72437 Allahabad Bank|  2011-12|           A C Dixit|        N|   BJP|Others|           null|       |       |       |       |       |      |c21350ba3c204bdb4...|             Bank|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|S.F.S. Tirupati A...|  100000|174993, Union Ban...|  2014-15|        A D Builders|        Y|   BJP|Others|           null|       |       |       |       |       |      |8e87f885f49d595c2...|             Bank|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
|                  --|   21000|            234, BOI|  2012-13|               A Fox|        N|   BJP|Others|           null|       |       |       |       |       |      |cfab1ba8c67c7c838...|           Others|          0| 9295525996|          0|          0|             0|            0|         8782|            0|            0|               0|               0.0|1058474.8344340697|        0.0|               0.0|              0.0|          0|  500000000|          0|          0|             0|                   -|General Electoral...|            -|            -|               -|
+--------------------+--------+--------------------+---------+--------------------+---------+------+------+---------------+-------+-------+-------+-------+-------+------+--------------------+-----------------+-----------+-----------+-----------+-----------+--------------+-------------+-------------+-------------+-------------+----------------+------------------+------------------+-----------+------------------+-----------------+-----------+-----------+-----------+-----------+--------------+--------------------+--------------------+-------------+-------------+----------------+
only showing top 20 rows

In [ ]:
new = df.groupBy('fin_year','Party').sum("Amount")